@model string
@{
    ViewBag.Title = "TempDataDemo";
}

<h2>TempDataDemo</h2>


<pre>
演練流程：網站開啟後開啟 MB/TempDataDemo 之後把 TempDataDemo 改成 TempDataSave 它會再轉址回 TempDataDemo
TempData = @TempData["SaveAtSession"]</pre>
