@{ 
    ViewBag.Title = "Index's ViewBag";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Controller is Razor</h2>
        <h2>View is Index page</h2>
        <h2>執行時間點：@DateTime.Now</h2>
    </div>
</body>
</html>
